doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title Другофильтр
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js")
    script(src="http://vk.com/js/api/openapi.js")
  body

    script#app(type="text/x-handlebars-template").
      <div class="modal">
        <div class="modal__head">
          <div class="modal__title">
            <h3 class="title">{{title}}</h3>
          </div>
          <div class="modal__close close">
            <div class="icon icon--close"></div>
          </div>
        </div>
        <div class="modal__body"></div>
        <div class="modal__foot">
          <button class="btn" type="button">Сохранить</button>
        </div>
      </div>
    
    script#grid(type="text/x-handlebars-template").
      <div class="grid-thead">
        <div class="grid-thead-row">
          <div class="grid-thead-cell">
            <div class="grid-filter-block">
              <input class="grid-filter-input" placeholder="Начните вводить имя друга">
              <div class="grid-filter-btn"></div>
            </div>
            <span class="grid-thead-title">{{title}}</span>
          </div>
        </div>
      </div>
      <div class="grid-tbody">
        <div class="grid-tlist" data-grid-name="{{constructor.name}}"></div>
      </div>

    script#book(type="text/x-handlebars-template").
      <div class="grid-tlist-item" data-id="{{id}}">
        <div class="grid-tlist-img">
          <img src={{photo_100}} alt=""/>
        </div>
        <span class="grid-tlist-name">{{first_name}} {{last_name}}</span>
        <div class="grid-tlist-action">
          <div class="icon icon--add js-add"></div>
        </div>
      </div>